<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" con  
    <meta name="viewport"content="width=device-width, initial-scale=1.0">
    <title>Nombre de pagina</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <h5>Fecha del documento</h5>

    <h1>El titulo de nuestro documento</h1>
    <h2>Un subtitulo cualquiera</h2>
    
    <img src="/imgs/darth.jpg" alt="Esta imagen ilustra la pelicula Star Wars">

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis ipsa architecto beatae sed in quam, quos, quasi et laudantium pariatur eum consectetur libero magnam, recusandae error natus unde nobis facere.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, fuga voluptatem libero itaque, sequi quae optio quasi dolores id unde blanditiis deserunt pariatur iusto voluptates sapiente totam praesentium repellat nobis.</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>

    <a href="https://www.google.conm">Ir a google</a>

</body>
</html>